In [6]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('\nDoneskiwoowoo!')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

Doneskiwoowoo!

In [1]:
index_count = 0
phrase = 'Mike Poirier sucks'

for letter in phrase:
    if index_count < 12:
        print(phrase[index_count])
    else:
        break
    index_count += 1

M
i
k
e

P
o
i
r
i
e
r

In [5]:
word = 'Their Turn'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
T


1
h


2
e


3
i


4
r


5



6
T


7
u


8
r


9
n

In [7]:
from random import randint

In [8]:
randint(0,20)

5

In [44]:
event_roll = print( randint(1,20) )

20

In [48]:
result = input('What is your name? ')

What is your name? 0

In [49]:
result

'0'

In [50]:
type(result)

str

In [51]:
float(result)

0.0

In [52]:
type(result)

str

In [53]:
int(result)

0

In [54]:
event_rolls = [num for num in range(1,21)]

In [55]:
event_rolls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [56]:
type(event_rolls)

list

In [61]:
event_rolls = [num**2 for num in range(1,21)]

In [62]:
event_rolls

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [65]:
odd_event_rolls = [num for num in range(1,21) if num % 2 == 0]

In [66]:
odd_event_rolls

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [71]:
# List Comprehension version:

celsius = [0,10,20,34.5]

fahrenheit = [ ( (9 / 5)* temp + 32 ) for temp in celsius]

print(celsius)
print(fahrenheit)

# For loop verison:

fahrenheit = []

for temp in celsius:
    fahrenheit.append( ( 9 / 5) * temp + 32 )
    
print('\n')
print(celsius)
print(fahrenheit)

[0, 10, 20, 34.5]
[32.0, 50.0, 68.0, 94.1]


[0, 10, 20, 34.5]
[32.0, 50.0, 68.0, 94.1]

In [74]:
def say_hello():
    print('Hello')
    print('How')
    print('Are')
    print('You?')

In [75]:
say_hello()

Hello
How
Are
You?

In [80]:
def say_hello(name = 'Default'):
    print(f'Hello, {name}')

In [82]:
say_hello('Jackoff')

Hello, Jackoff

In [83]:
def add_num(num1,num2):
    return num1 + num2

In [84]:
add_num(10,20)

30

In [85]:
result = add_num(10,20)

In [86]:
print(result)

30

In [87]:
def print_result(a,b):
    print(a + b)

In [89]:
def return_result(a,b):
    return a + b

In [90]:
print_result(10,20)

30

In [92]:
result = return_result(10,20)

In [97]:
result

30

In [100]:
def even_check(number):
    return number % 2 == 0

In [101]:
even_check(10)

True

In [102]:
even_check(21)

False

In [107]:
# Return TRUE if any number inside of a list is even

def check_even_list(num_list):
    
    for number in num_list:
        
        if number % 2 == 0:
            return True
        else:
            pass
        
    return False

In [108]:
check_even_list([1,3,5,7,9])

False

In [109]:
check_even_list([2,4,6,8,10])

True

In [110]:
check_even_list([1,2,3])

True

In [114]:
# Return all of the even numbers in a list

def check_even_list(num_list):
    
    #Placeholder variable
    even_numbers = []
    
    for number in num_list:
        
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
        
    return even_numbers

In [116]:
check_even_list([1,2,3,4,10000])

[2, 4, 10000]

In [117]:
check_even_list([1,3,5])

[]

In [118]:
stock_prices = [('APPL',200),('GOOG',300),('AMZN',400)]

In [119]:
for ticker,price in stock_prices:
    print(ticker)
    print(price)

APPL
200
GOOG
300
AMZN
400

In [132]:
work_hours = [('Abbey',1000,'Salisbury'),('Billy',400,'Scarborough'),('Chris',800,'Quincy')]

In [133]:
def employee_check(work_hours):
    
    # Placeholders
    current_max = 0
    employee_of_month = ''
    home_office = ''
    
    for employee,hours,location in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
            location = home_office 
        else:
            pass
    
    # Return a tuple with employee of the month and their current max hours
    return (employee_of_month,current_max,location)

In [134]:
employee_check(work_hours)

('Abbey', 1000, 'Quincy')

In [135]:
name,hours,location = employee_check(work_hours)

In [136]:
name

'Abbey'

In [137]:
hours

1000

In [138]:
location

'Quincy'

In [140]:
employee_check(work_hours)

('Abbey', 1000, 'Quincy')

In [141]:
example = [1,2,3,4,5,6,7]

In [142]:
from random import shuffle

In [143]:
shuffle(example)

In [144]:
example

[5, 6, 4, 7, 3, 2, 1]

In [183]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [184]:
mylist = [ ' ', 'O', ' ']

In [185]:
shuffle_list(mylist)

[' ', 'O', ' ']

In [186]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input('Is the ball under cup 0, 1, or 2? ')
    
    return int(guess)

In [178]:
player_guess()

Is the ball under cup 0, 1, or 2? 1

1

In [189]:
def check_guess(mylist,guess):
    
    if mylist[guess] == 'O':
        print('Correct!')
    else:
        print('Incorrect. '+ str(mylist) )

In [190]:
# Initial list
mylist = [ ' ', 'O', ' ']

# Shuffled list
shuffled_list = shuffle_list(mylist)

# Player's guess
guess = player_guess()

# Check guess if correct or incorrect
check_guess(shuffled_list,guess)

Is the ball under cup 0, 1, or 2? 1
Incorrect. ['O', ' ', ' ']